.form
	input(ng-model="url", placeholder="Url")
	select(ng-model="deviceSelected", ng-options="device for device in devices") {{ device }}
	button(ng-click="screenshot()") Take picture
.render
	img(
		ng-if="!loader"
		width="100%"
		ng-src="{{ screenshotSrc }}"
	)
	img(
		ng-if="loader"
		src="./loader.gif")
	.path {{ screenshotSrc }}
